<app-navbar></app-navbar>
<div class="position-relative">
    <img src="../../../../assets/banner18.jpg" height="140px" width="100%" style="overflow-x: hidden;" />
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h3 class="text-uppercase fw-bold">About us</h3>
        <div class="d-flex justify-content-center">
            <span class="mx-1"> 
                <a class="nav-link" [routerLink]="['/home']">
                    <i class="fa fa-home"></i> Home
                </a> 
            </span>
            <span class="mx-1"> / </span>
            <span class="mx-1"> About us </span>
        </div>
    </div>
</div>
<app-footer></app-footer>