

.para-height {
  height: 100%;
}

.img-equal-height {
  height: 100%;
  object-fit: cover;
}

.line-spacing {
  line-height: 2.0;
  /* Adjust the value as needed */
}


.text-green {
  color: #0BFF00;
}

.btn-discover-now {
  width: 170px;
  height: 48px;
}

.margin-top{
  margin-top:3rem
}

@media (max-width:520px) {
  // .btn-discover-now{
  //   width: 85px; 
  //   height: 24px;
  // }

  .fn {
    font-size: 10px!important;
  }

  .margin-top{
    margin-top:0rem
  }

  .btn-primary{
    height: 28px!important;
  }
}


.card-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}


.card-container::-webkit-scrollbar {
  width: 0.5rem; 
}

.card-container::-webkit-scrollbar-track {
  background: transparent; 
}

.card-container::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2rem; 
}


.card-align {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 25px;

}
